@charset "UFT-8";

div{
    display: inline-block;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    height: 150px;
    width: 150px;
}
div:hover{
    background-color: brown;
}
